.heading-container {
  background-color: transparent;
  border-bottom: $divider-border;
  padding-bottom: 15px;
  width: 100%;
}

h1 {
  color: $white-text;
  font-family: $header-font;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 13px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
}
