.heading-container {
  border-bottom: $divider-border;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-self: flex-start;
  position: absolute;
}

h1 {
  font-family: $header-font;
  font-size: 48px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 2px;
}
