.could-do-rowlist-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .iconlist-container {
    left: 10%;
  }

  .row-container {
    background-image: linear-gradient($light-grey, $light-grey);
    background-repeat: no-repeat;
    background-size: 150px 1px;
    background-position: center bottom, 4px 4px;
  }
}
