.could-do-rowlist-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .iconlist-container {
    margin-left: 4px;
  }

  .row-container {
    background-image: linear-gradient($light-grey, $light-grey);
    background-repeat: no-repeat;
    background-position: center bottom, 4px 4px;
  }
}

.could-do-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.add-could-do {
  position: absolute;
  right: 15px;
  top: 15px;
}

.next-could-do {
  position: absolute;
  bottom: 0px;
}

.previous-could-do {
  position: absolute;
  top: 0px;
}

.could-do {
  font-size: 48px;
  font-family: $content-font;
  color: $white-text;
}
