.loader-container {
  position: absolute;
  right: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  animation: fadein 2.5s;
}

.project-container .loader-container,
.project-menu-container .loader-container {
  height: inherit;
  top: 50%;
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}