{
  "presets":["env", "react"],
  "plugins":[
    "transform-class-properties",
    ["transform-builtin-extend", {
        "globals": ["Error"]
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["emotion"]
  ]
}
