{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
  "space-in-parens": "off",
  "padded-blocks": "off",
  "semi": ["error", "never"],
  "arrow-parens": "off",
  "comma-dangle": "off",
  "camelcase": "off",
  "react/prop-types": "off",
  "jsx-quotes": ["error", "prefer-single"],
  "react/jsx-curly-spacing": ["error", "always"],
  "react/jsx-wrap-multilines": "off",
  "jsx-a11y/no-static-element-interactions": "off",
  "react/jsx-filename-extension": "off",
  "react/jsx-closing-bracket-location": "off",
  "one-var-declaration-per-line": "off",
  "one-var": "off",
    "valid-jsdoc": ["error", {
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": true,
      "requireReturnDescription": true
    }],
  "linebreak-style": "off",
  }
}
