@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif');

$content-font: 'Open Sans', sans-serif;
$white-text: #e0e2e4;
$default-font-size: 28px;
$darkblue-background: #1c2a37;
$light-grey: #35404b;
$divider-border: solid 1px $light-grey;
$header-font: 'PT Serif', serif;
$green: #6e9c5f;

input:focus {
  outline: none;
}

html {
  min-height: 300px;
  min-width: 500px;
  position: relative;
}

body {
  background-color: $darkblue-background;
  margin: 0px;
  position: relative;
}

button {
  background: transparent;
  border: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  margin: 0px;
}
