.text-field-container {
  align-items: center;
  color: $white-text;
  font-family: $content-font;
  font-size: $default-font-size;
  margin-left: 60px;
  margin-right: 10px;
  max-width: 85%;
}

.text-field-container:hover {
  color: darken($white-text, 2%);
  cursor: text;
}

.text-field-input {
  background-color: transparent;
  border: none;
  color: darken($white-text, 25%);
  font-family: $content-font;
  font-size: $default-font-size;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  height: 36px;
}

.text-field-input::placeholder {
  font-style: italic;
  letter-spacing: 0;
  opacity: 0.66;
}
