.footer-container {
  background-color: $darkblue-background;
  border-top: $divider-border;
  bottom: 0px;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 6px 0px;
  position: fixed;
  right: 0;
  width: 100%;
}

.plus-button {
  background: transparent;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
}

.footer-input-text {
  background-color: transparent;
  border: none;
  color: $white-text;
  font-family: $content-font;
  font-size: $default-font-size;
  letter-spacing: 1px;
  max-width: 450px;
  text-align: center;
}

.footer-input-text::placeholder {
  font-style: italic;
  letter-spacing: 0;
  opacity: 0.66;
}
