.login-button {
  background-color: $darkblue-background;
  border: none;
  color: $white-text;
  cursor: pointer;
  display: block;
  font-family: $header-font;
  font-size: 48px;
  font-weight: 400;
  height: 100%;
  margin: auto;
  padding-bottom: 150px;
}

button:focus {
  outline: 0;
}

.login-button:hover {
  color: darken($white-text, 25%);
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
