.iconlist-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  width: 10%;
}

.iconlist-container svg, .dragHandle-icon-container svg {
  height: 24px;
  width: 24px;
  fill: lighten($light-grey, 10%);
}

.dragHandle-icon-container {
  z-index: 99;
  visibility: initial;
}

.eye-icon-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

.eye-icon-container svg {
  fill: darken($white-text, 25%);
  stroke-width: 1;
  stroke: darken($white-text, 25%);
  width: 115px;
}

.eye-icon-container svg:hover {
  cursor: pointer;
  fill: darken($white-text, 5%);
  stroke: $green;
}

.row-container .eye-icon-container svg {
  width: 75px;
}

.delete-icon-container, .dragHandle-icon-container {
  display: flex;
}

.delete-icon-container:hover, .dragHandle-icon-container:hover, .back-icon-container:hover, .plus-icon-container:hover, .intoProject-icon-container:hover {
  cursor: pointer;
  opacity: 0.8;
}

.back-icon-container {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  display: flex;
}

.back-icon-container svg {
  width: 60px;
  fill: lighten($light-grey, 10%);
}

.plus-icon-container svg {
  width: 50px;
  fill: lighten($light-grey, 10%);
}

.logout-icon-container svg {
  width: 35px;
  fill: lighten($light-grey, 10%);
  position: absolute;
  right: 10px;
  top: 20px;
}

.logout-icon-container svg:hover {
  cursor: pointer;
  fill: darken($white-text, 5%);
}

.tooltip {
  font-size: 16px !important;
  font-family: $content-font;
  letter-spacing: 1px;
}
