.iconlist-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 10%;
}

.iconlist-container svg {
  height: 24px;
  width: 24px;
  fill: lighten($light-grey, 10%);
}

.eye-icon-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 53px;
}

.eye-icon-container svg {
  fill: darken($white-text, 25%);
  stroke-width: 1;
  stroke: darken($white-text, 25%);
  width: 115px;
}

.eye-icon-container svg:hover {
  cursor: pointer;
  fill: darken($white-text, 5%);
  stroke: #6e9c5f;
}

.row-container .eye-icon-container svg {
  width: 75px;
}

.delete-icon-container, .dragHandle-icon-container {
  display: flex;
}

.delete-icon-container:hover, .dragHandle-icon-container:hover, .back-icon-container:hover, .plus-icon-container:hover {
  cursor: pointer;
}

.delete-icon-container:hover {
  opacity: 0.8;
}

.dragHandle-icon-container:hover {
  opacity: 0.8;
}

.back-icon-container {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  display: flex;
}

.back-icon-container svg {
  width: 60px;
  fill: lighten($light-grey, 10%);
}

.plus-icon-container svg {
  width: 50px;
  fill: lighten($light-grey, 10%);
}
